<div id="app">
   <header>
         <img id="logo" src="./assets/images/page-1-1@2x.png" alt="linkry logo">
         <h2>Welcome. Let's get started.</h2>
      <p>Step 1 of 4: Tell us a bit about your Event.</p>
   </header>
   <div class="container">
  <el-row :gutter="20">
         <el-col :span="12"><div class="grid-content bg-purple">
            <el-card class="box-card">
               <el-row type="flex" :gutter="24">
                  <el-col :span="12">
                     <label>Name</label>
                     <el-input placeholder="Name your event" v-model="input"></el-input>
                  </el-col>
                  <el-col :span="12" >
                     <label>Short name</label>
                     <el-input placeholder="Name your event" v-model="input"></el-input>
                     <p id="input-para">The short name is used to construct the URL where people view your Event,
                        ex: https://Linkry.events/L/sbmymullhdpwstf</p>
                  </el-col>
               </el-row>
               <label>Descreption</label>
               <el-input
                  type="textarea"
                  :rows="4"
                  placeholder="describe your event"
                  >
             </el-input>
             <p id="input-para">A brief paragraph to describe your Event.</p>
             <el-row type="flex" :gutter="24">
                  <el-col :span="8">
                              <p>Duration</p>
                         <el-date-picker 
                              v-model="startDate"
                              type="date"
                              placeholder="Start date">
                          </el-date-picker>
                  </el-col>
                  <el-col :span="8">
               <p class="hidden">Duration</p>

                   <el-date-picker 
                               v-model="endDate"
                                type="date"
                                placeholder="End date">
                          </el-date-picker>
             </el-col>
             <el-col :span="10">
                   <p>Location</p>
                  <el-select v-model="value" placeholder="Select Location">
                        <el-option
                              v-for="locations in location"
                              :key="item.value"
                              :label="item.label"
                              :value="item.value">
                        </el-option>
                  </el-select>
             </el-col>
            
             </el-row>
             <p id="input-para">You can not update the date after publishing your guide.</p>
             <p id="input-para"><a href="/">Does this Event run indefinitely?</a></p>
             <div class="submition">
                   <el-button type="primary" size="large">Save and Continue</el-button>

             </div>
            </el-card>
         </div>
         </el-col>
         <el-col :span="8"><div class="grid-content bg-purple">
            <el-card class="box-card">
              <h2>
                 Branding your Events
              </h2>
               <p>
                  You are on your way to creating an extremely useful, wonderfully eco-friendly,
                  and pleasantly elegant mobile Event. With Linkry Events, it is extremely
                  simple to put information right in your audience hands, and it all
                  starts here with our event builder.
                  </p>
               <p>
                  With a few short steps, you will have a complete guide that can be published and
                  ready to use. Do not worry - we will walk you through the process Start here by
                  telling us a few details about your Event.
               </p>
            </el-card>
         </div>
         </el-col>
      </el-row>
   </div>
    
</div>
